@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-prev,
.swiper-button-next {
  color: var(--red100) !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
}
#IT_RANKING .swiper-button-prev,
#IT_RANKING .swiper-button-next {
  top: 0 !important;
  height: 100% !important;
}
#IT_RANKING .swiper-button-prev:hover,
#IT_RANKING .swiper-button-next:hover {
  background-color: var(--red50) !important;
}

#IT_RANKING .swiper-slide {
  opacity: 0.6;
}
#IT_RANKING .swiper-slide.swiper-slide-active {
  opacity: 1;
}
#IT_RANKING .swiper-slide.swiper-slide-active .rank_number {
  text-shadow: 0 0 var(--red100);
}
#ALL_RANKING .swiper-button-prev,
#ALL_RANKING .swiper-button-next {
  top: 30% !important;
  height: 50% !important;
}

.swiper-slide:hover .hover\:underline {
  text-decoration: underline;
}
.swiper-slide:hover .hover\:scale-110 {
  transition: 0.2s;
  transform: scale(1.1);
}
.swiper-button-prev {
  left: 0 !important;
}
.swiper-button-next {
  right: 0 !important;
}

.swiper-button-prev,
.swiper-button-next {
  top: 25% !important;
  width: 40px !important;
  padding: 0 10px;
  height: 110px !important;
  color: var(--red100) !important;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: var(--red50) !important;
  color: var(--red) !important;
}
.swiper .swiper-pagination {
  position: absolute;
  bottom: 10px !important;
}
.swiper .swiper-pagination-bullet {
  background-color: var(--red);
}
body {
  font-family: -apple-system, NotoSansJP, sans-serif;
}

@font-face {
  font-family: 'NotoSansJP';
  font-weight: 400;
  src: url('/fonts/NotoSansJP.ttf') format('truetype');
}

@font-face {
  font-family: 'NotoSansJP';
  font-weight: 600;
  src: url('/fonts/NotoSansJP.ttf') format('truetype');
}
@font-face {
  font-family: 'NotoSansJP';
  font-weight: 700;
  src: url('/fonts/NotoSansJP.ttf') format('truetype');
}
@font-face {
  font-family: 'NotoSansJP';
  font-weight: 900;
  src: url('/fonts/NotoSansJP.ttf') format('truetype');
}
