@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-slide {
  /* width: 100% !important; */
}
.swiper-slide:hover .hover\:underline {
  text-decoration: underline;
}
.swiper-slide:hover .hover\:scale-110 {
  transition: 0.2s;
  transform: scale(1.1);
}
.swiper-button-prev {
  left: 0 !important;
}
.swiper-button-next {
  right: 0 !important;
}

.swiper-button-prev,
.swiper-button-next {
  top: 25% !important;
  width: 40px !important;
  padding: 0 10px;
  height: 110px !important;
  color: var(--gray400) !important;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: var(--gray100) !important;
  color: var(--gray600) !important;
}
